.gallery {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
    width: calc((100% - 48px) / 3);
}

.gallery-img {
    display: block;
    max-width: 100%;
    height: auto;
}